<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/classes.css">
</head>

<body>
    {% include 'nav.html'%}

    <div class="content">

        {% include 'sidebar.html'%}
        
        <div class="right-content">
            <div class="banner">
                <img src="{{ course.banner }}" alt="">
            </div>
            <div class="assignment-ctn">
                <div class="information-ctn">
                    <div class="assignment-information-title">
                        <div class="assignment-title">
                            {{ announcement.name }}
                        </div>
                        <div class="duedate">
                            Date: {{ announcement.this_date }}
                        </div>
                    </div>
                    <div class="assignment-description">
<pre>
    {{ announcement.description }}
</pre>
                        
                    </div>
                    <div class="horizontal-line"></div>
                    <div class="others">
                        <div class="others-title">
                            OTHER DOCUMENTS INCLUDED
                        </div>
                        
                        <div class="documents">
                            {% for file in announcement.attachment %}
                            <div class="document">
                                <p class="name">{{ file.split('/') | last }}</p>
                                <div class="options">
                                    <a href="/{{ file }}" class="option" target="_blank">
                                        <i class="fa-solid fa-eye"></i>
                                        <p>PREVIEW</p>
                                    </a>
                                    <a href="/{{ file }}" class="option" download="">
                                        <i class="fa-solid fa-download"></i>
                                        <p>DOWNLOAD</p>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const AssignmentFiles = document.getElementById("assignment-files");
        const ChooseFile = document.getElementById("choose-file");
        ChooseFile.addEventListener("click", (e) => {
            e.preventDefault();
            AssignmentFiles.click();
        });

        AssignmentFiles.addEventListener("change", (e) => {
            const UserFiles = document.getElementById("user-files");
            const Files = AssignmentFiles.files;
            UserFiles.innerHTML = ""
            for (let i = 0; i < Files.length; i++) {
                const File = Files[i];
                console.log(File);

                UserFiles.innerHTML += `<div class="file">
                            <a href="">${File.name}</a>
                        </div>`;
            }
        });
    </script>
</body>

</html>