<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'head.html' %}
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  {% include 'nav.html'%}

  <!-- content goes here -->
  <div class="content">
    <div class="intro alternate-bg">
      <div class="intro-bg"></div>
      <div class="intro-text">
        <div class="intro-text-title">International Program <br>B.Eng. Software Engineering</div>
        <a class="custom-btn"><span>SEE OUR PROGRAM</span></a>
      </div>
    </div>

    <div class="about alternate-bg">
      <div class="about-wrap">
        <div class="about-info">
          <span class="info-header">What is Software Engineering?</span>
          <div class="br"></div>
          <p class="info-content">Software engineering (SE) is an engineering discipline concerning all aspects of
            software production,
            including software analysis, design, development, testing, and deployment. SE requires profound abstract and
            logical thinking and the application of mathematics, logic, and computer science in order to produce
            efficient
            and reliable software with the available resources.</p>
        </div>
        <div class="about-info">
          <span class="info-header">Why Choose the International Program B.Eng. Software Engineering Course at
            KMITL?</span>
          <div class="br"></div>
          <p class="info-content">The program aims at training the students to become skilled software engineers capable
            of working confidently in the international software industry. The program also provides solid computer
            science foundations so that the students can pursue graduate study in other computing-related fields. The
            program offers 3 specializations: Enterprise SE, Internet of Things, and Intelligent Systems, and
            collaborates with the University of Glasgow (UK) to offer a double-degree study option.
            <br><br>The KMITL-Glasgow Double-Degree Program in Software Engineering is a collaboration between KMITL and
            the University of Glasgow, UK. The program enables qualified students who have completed Year 2 in the SE
            program at the International College to enter Years 3 and 4 of the Software Engineering program at the
            University of Glasgow’s School of Computing Science. At Glasgow, the student will have an opportunity to
            study with world-renowned academics, as well as working on team projects with multi-national talents. This
            is an excellent opportunity for the students who wish to gain studying and living experience in the UK.
          </p>
        </div>
      </div>
    </div>

    <div class="event" id="event">
      <div class="event-wrap">
        <div class="event-header">UPCOMING EVENTS</div>
        <div class="event-content">
          <div class="event-title">Event Title</div>
          <div class="event-date">30/09/2023</div>
          <br> <br>
          <div class="event-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in ligula urna. Proin
            congue condimentum facilisis. Praesent bibendum, augue quis faucibus gravida, massa quam lobortis neque, sed
            varius leo enim eget justo. Duis non sapien id nisi condimentum euismod auctor eget velit.</div>
        </div>
        <a class="custom-btn read-more-btn"><span>SEE MORE EVENTS</span></a>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-content">
      <img src="../images/SE_fullname.png" class="left-picture-1" alt="No image 1">
      <img src="../images/Kmitl_logo.png" class="left-picture-2" alt="No image  2">
      <img src="../images/SE_logo.svg" class="middle-picture" alt="No image 3">

      <div class="contract-section">
        <p class="contract-caption">Contact</p>
        <hr style="width:100%">
        <p>Phone: (123) 456-7890</p>
        <div class="email">
          <i class="fa-solid fa-envelope"></i>
          <p>contact@example.com</p>
        </div>
        <div class="email">
          <i class="fa-solid fa-envelope"></i>
          <p>contact@example.com</p>
        </div>
        <div class="email">
          <i class="fa-solid fa-envelope"></i>
          <p>contact@example.com</p>
        </div>
        <div class="facebook">
          <i class="fa-brands fa-square-facebook"></i>
          <p>facebook.com/SE_KMITL</p>
        </div>
      </div>
    </div>
    <div class="copyrightSE">
      <p>© 2024 Software Engineering, King Mongkut's Institute of Technology Ladkrabang</p>
    </div>
  </footer>
</body>

</html>