<nav>
    <div class="nav" id="navbar">
        <a href="/" class="nav-left">
            <img class="nav-logo" src="/images/SE_logo_tranparent.svg" alt="" />
            <div class="nav-text">
                <div class="nav-title">SOFTWARE ENGINEERING</div>
                <div class="nav-title-small">
                    King Mongkut's Institute of Technology Ladkrabang
                </div>
            </div>
        </a>
        <div class="nav-right" id="navRight">
            <div class="wrap-darkmode">
                <div class="nav-move">
                    <a href="/">About</a>
                    <a href="/">Program</a>
                    <!-- <a href="/#news">News</a> -->
                    <a href="/#event">Event</a>
                    {% if client != None %}
                        <a href="/classes/{{ first_course_id }}/assignments">
                            <i class="fas fa-chalkboard-teacher"></i> Courses
                        </a>
                    {% endif %}
                </div>
            </div>
            <a
                href="javascript:void(0);"
                class="bars"
                onclick="changeToResponsive()"
                ><i class="fa-solid fa-bars fa-2xl"></i
            ></a>
            {% if client == None %}
            <div class="dropdown-header">
                <img
                    id="login"
                    src="/images/user-default-avatar.svg"
                    alt="Avatar"
                />
                <div class="dropdown-header-content">
                    <a href="/login">
                        <div>Login</div>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="dropdown-header">
                <img id="login" src="{{ client.avatar }}" alt="Avatar" />
                <div class="dropdown-header-content">
                    <a href="/profile">
                        <div>Profile</div>
                    </a>
                    <a href="/logout">
                        <div>Logout</div>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- <div class="accent-bar" id="accent-bar"></div> -->
</nav>

<div class="spacer" id="spacer"></div>

<div class="nav-bottom" id="nav-responsive">
    <div class="nav-move">
        {% if client != None %}
        <a href="/classes/{{ first_course_id }}/assignments">Courses</a>
        {% endif %}
        <a href="">About</a>
        <a href="">Program</a>
    </div>
</div>
